
.backgroundlogo{
    MARGIN: 2px 2px 10px; 
    COLOR: #000;  
    BACKGROUND-COLOR: #026cc4; 
    BACKGROUND-IMAGE: url(backgroundlogo.jpg)
}
.content {
    MARGIN: 2px 2px 10px; 
    COLOR: #000; 
    BACKGROUND-COLOR: #d9e1e7; 
    text-align: center;
    
}
.center {
    text-align: center;
}
.nav{
    MARGIN: 2px 2px 10px; 
    COLOR: #000;  
    BACKGROUND-COLOR: #dddddd; 
    BACKGROUND-IMAGE: url(nav.jpg)
}
.vline{

}

.nav {text-align: middle
}
.nav A:link {
    COLOR: #ffffff;
    text-decoration: none;
}
.nav A:visited {
    COLOR: #026cc4;
    text-decoration: none;
}
.nav A:hover {
    COLOR: #000000;
    text-decoration: none;
}
.navText  {
    FONT-SIZE: 12px; 
    FONT-FAMILY:  arial, verdana, sans-serif;
    line-height: 10px
}

.navu{
    MARGIN: 2px 2px 10px; 
    BACKGROUND-COLOR: #d9e1e7; 
    text-align: middle;
}

.navu A:link {
    COLOR: #026cc4;
    text-decoration: none;
}
.navu A:visited {
    COLOR: #026cc4;
    text-decoration: none;
}
.navu A:hover {
    COLOR: #000000;
    text-decoration: none;
}

.navi{
    MARGIN: 2px 2px 10px; 
    COLOR: #000;  
    BACKGROUND-COLOR: #dddddd; 
    BACKGROUND-IMAGE: url(nav.jpg);
    text-align: middle;
}

.navi A:link {
    COLOR: #ffffff;
    text-decoration: none;
}
.navi A:visited {
    COLOR: #026cc4;
    text-decoration: none;
}
.navi A:hover {
    COLOR: #000000;
    text-decoration: none;
}

.naviText  {
    FONT-SIZE: 12px; 
    FONT-FAMILY:  arial, verdana, sans-serif
}
.naviText {
    line-height: 10px
}

.textLogo {
    FONT-SIZE: 25px; 
    FONT-FAMILY:  verdana, arial, sans-serif;
    color: #ffffff;
}

.textLogoWhite {
    FONT-SIZE: 20px; 
    FONT-FAMILY: verdana, arial, sans-serif;
    color: #45565f
}

.BigPrint {
    FONT-FAMILY: arial, helvetica, sans-serif;
    FONT-SIZE: 14px;
    COLOR: #026cc4;
}

.news{
    MARGIN: 2px 2px 10px; 
    COLOR: #000;  
    BACKGROUND-COLOR: #d9e1e7;
    text-align: middle
}

.news A:link {
    COLOR: #0000ff
}
.news A:visited {
    COLOR: #0000ff
}
.news A:hover {
    COLOR: #026cc4
}


.login{
    BACKGROUND-COLOR: #d9e1e7
}


.Copyright {
    FONT-FAMILY: verdana, arial, sans-serif;
    FONT-SIZE: 10px;
    COLOR: #000000;
}

.contentText1 {
    FONT-SIZE: 17px; 
    FONT-FAMILY: verdana, arial, sans-serif;
    color: #0000ff;
}

.textCopy {
    FONT-SIZE: 11px; 
    FONT-FAMILY: verdana, arial, verdana, sans-serif;
    color: #000;
}



TD {vertical-align: top; 
}


body A:link {
    COLOR: #333366
}
body A:visited {
    COLOR: #333366
}
body A:hover {
    COLOR: #ff6600
}
form {
    margin: 0px; /* Убираем отступы */
}

.AllWidth {
    width: 100%; /* Убираем отступы */
}

.border {
    width: 100%; /* Убираем отступы */
    border: 1px;
}

.width10 {
    width: 10%; /* Убираем отступы */
}
.width15 {
    width: 15%; /* Убираем отступы */
}
.width20 {
    width: 20%; /* Убираем отступы */
}
.width25 {
    width: 25%; /* Убираем отступы */
}
.width40 {
    width: 40%; /* Убираем отступы */
}

.textBold {
    font-style: italic;
    font-weight: bold;
    font-size: large
}
.AllHeight{
    width: 100%; /* Убираем отступы */
    height: 100%; /* Убираем отступы */
}

