<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/subscriber_db?zeroDateTimeBehavior=convertToNull</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password">123456</property>
    <property name="hibernate.connection.autocommit">true</property>
    <!-- Пул подключений -->
    <property name="connection.pool_size">1</property>
    <!-- Автоматическое управление контекстом сессии -->
    <property name="current_session_context_class">thread</property>
    <!-- Отключение кэша второго уровня -->
    <property name="cache.provider_class">org.hibernate.cache.NoCacheProvider</property>
    <!-- Вывод всех выполняемых SQL-запросов в консоль -->
    <property name="show_sql">true</property>
    <property name="hibernate.hbm2ddl.auto">update</property>
    <mapping resource="Subscriber.hbm.xml"/>
    <mapping resource="User.hbm.xml"/>
    <mapping resource="Phone.hbm.xml"/>
    <mapping resource="Log.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
