<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <filter>
        <filter-name>EncodingFilter</filter-name>
        <filter-class>by.telecom.subscriberapp.EncodingFilter</filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
    </filter>
    <filter>
        <filter-name>LoginFilter</filter-name>
        <filter-class>by.telecom.subscriberapp.controller.LoginFilter</filter-class>
        <init-param>
            <param-name>errorPage</param-name>
            <param-value>/login.jsp</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>EncodingFilter</filter-name>
        <url-pattern>/subscriberapp/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>LoginFilter</filter-name>
        <url-pattern>*.do</url-pattern>
        <url-pattern>*.jsp</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>Subscribers</servlet-name>
        <servlet-class>by.telecom.subscriberapp.controller.Subscribers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Users</servlet-name>
        <servlet-class>by.telecom.subscriberapp.controller.Users</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>by.telecom.subscriberapp.controller.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubscriberSearch</servlet-name>
        <servlet-class>by.telecom.subscriberapp.controller.SubscriberSearch</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Phones</servlet-name>
        <servlet-class>by.telecom.subscriberapp.controller.Phones</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubscriberFull</servlet-name>
        <servlet-class>by.telecom.subscriberapp.controller.SubscriberFull</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PhoneSearch</servlet-name>
        <servlet-class>by.telecom.subscriberapp.controller.PhoneSearch</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateSubscriber</servlet-name>
        <servlet-class>by.telecom.subscriberapp.controller.CreateSubscriber</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreatePhone</servlet-name>
        <servlet-class>by.telecom.subscriberapp.controller.CreatePhone</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubscriberSearchEdit</servlet-name>
        <servlet-class>by.telecom.subscriberapp.controller.SubscriberSearchEdit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteSubscriber</servlet-name>
        <servlet-class>by.telecom.subscriberapp.controller.DeleteSubscriber</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditSubscriberView</servlet-name>
        <servlet-class>by.telecom.subscriberapp.controller.EditSubscriberView</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditSubscriber</servlet-name>
        <servlet-class>by.telecom.subscriberapp.controller.EditSubscriber</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateUser</servlet-name>
        <servlet-class>by.telecom.subscriberapp.controller.CreateUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserSearchEdit</servlet-name>
        <servlet-class>by.telecom.subscriberapp.controller.UserSearchEdit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditUserView</servlet-name>
        <servlet-class>by.telecom.subscriberapp.controller.EditUserView</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditUser</servlet-name>
        <servlet-class>by.telecom.subscriberapp.controller.EditUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteUser</servlet-name>
        <servlet-class>by.telecom.subscriberapp.controller.DeleteUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogSearch</servlet-name>
        <servlet-class>by.telecom.subscriberapp.controller.LogSearch</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PhoneSearchEdit</servlet-name>
        <servlet-class>by.telecom.subscriberapp.controller.PhoneSearchEdit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditPhoneView</servlet-name>
        <servlet-class>by.telecom.subscriberapp.controller.EditPhoneView</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditPhone</servlet-name>
        <servlet-class>by.telecom.subscriberapp.controller.EditPhone</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeletePhone</servlet-name>
        <servlet-class>by.telecom.subscriberapp.controller.DeletePhone</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>by.telecom.subscriberapp.controller.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubscriberSearchPhone</servlet-name>
        <servlet-class>by.telecom.subscriberapp.controller.SubscriberSearchPhone</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddPhone</servlet-name>
        <servlet-class>by.telecom.subscriberapp.controller.AddPhone</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Users</servlet-name>
        <url-pattern>/users.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubscriberSearch</servlet-name>
        <url-pattern>/subscriberSearch.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Phones</servlet-name>
        <url-pattern>/phones.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubscriberFull</servlet-name>
        <url-pattern>/subscriberFull.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PhoneSearch</servlet-name>
        <url-pattern>/phoneSearch.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateSubscriber</servlet-name>
        <url-pattern>/createSubscriber.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreatePhone</servlet-name>
        <url-pattern>/createPhone.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubscriberSearchEdit</servlet-name>
        <url-pattern>/subscriberSearchEdit.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteSubscriber</servlet-name>
        <url-pattern>/deleteSubscriber.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditSubscriberView</servlet-name>
        <url-pattern>/editSubscriberView.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditSubscriber</servlet-name>
        <url-pattern>/editSubscriber.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateUser</servlet-name>
        <url-pattern>/createUser.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserSearchEdit</servlet-name>
        <url-pattern>/userSearchEdit.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditUserView</servlet-name>
        <url-pattern>/editUserView.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditUser</servlet-name>
        <url-pattern>/editUser.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteUser</servlet-name>
        <url-pattern>/deleteUser.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogSearch</servlet-name>
        <url-pattern>/logSearch.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PhoneSearchEdit</servlet-name>
        <url-pattern>/phoneSearchEdit.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditPhoneView</servlet-name>
        <url-pattern>/editPhoneView.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditPhone</servlet-name>
        <url-pattern>/editPhone.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeletePhone</servlet-name>
        <url-pattern>/deletePhone.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Subscribers</servlet-name>
        <url-pattern>/subscribers.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubscriberSearchPhone</servlet-name>
        <url-pattern>/subscriberSearchPhone.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddPhone</servlet-name>
        <url-pattern>/addPhone.do</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>
</web-app>
