<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <filter>
        <filter-name>EncodingFilter</filter-name>
        <filter-class>by.telecom.subscriberapp.EncodingFilter</filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>EncodingFilter</filter-name>
        <url-pattern>/subscriberapp/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>Subscribers</servlet-name>
        <servlet-class>by.telecom.subscriberapp.controller.Subscribers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Users</servlet-name>
        <servlet-class>by.telecom.subscriberapp.controller.Users</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>by.telecom.subscriberapp.controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubscriberSearch</servlet-name>
        <servlet-class>by.telecom.subscriberapp.controller.SubscriberSearch</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubscriberPhone</servlet-name>
        <servlet-class>by.telecom.subscriberapp.controller.SubscriberPhone</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubscriberFull</servlet-name>
        <servlet-class>by.telecom.subscriberapp.controller.SubscriberFull</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubscriberPhoneSearch</servlet-name>
        <servlet-class>by.telecom.subscriberapp.controller.SubscriberPhoneSearch</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateSubscriber</servlet-name>
        <servlet-class>by.telecom.subscriberapp.controller.CreateSubscriber</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreatePhone</servlet-name>
        <servlet-class>by.telecom.subscriberapp.controller.CreatePhone</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubscriberSearchEdit</servlet-name>
        <servlet-class>by.telecom.subscriberapp.controller.SubscriberSearchEdit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteSubscriber</servlet-name>
        <servlet-class>by.telecom.subscriberapp.controller.DeleteSubscriber</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditSubscriberView</servlet-name>
        <servlet-class>by.telecom.subscriberapp.controller.EditSubscriberView</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditSubscriber</servlet-name>
        <servlet-class>by.telecom.subscriberapp.controller.EditSubscriber</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateUser</servlet-name>
        <servlet-class>by.telecom.subscriberapp.controller.CreateUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserSearchEdit</servlet-name>
        <servlet-class>by.telecom.subscriberapp.controller.UserSearchEdit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditUserView</servlet-name>
        <servlet-class>by.telecom.subscriberapp.controller.EditUserView</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditUser</servlet-name>
        <servlet-class>by.telecom.subscriberapp.controller.EditUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteUser</servlet-name>
        <servlet-class>by.telecom.subscriberapp.controller.DeleteUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogSearch</servlet-name>
        <servlet-class>by.telecom.subscriberapp.controller.LogSearch</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Subscribers</servlet-name>
        <url-pattern>/subscribers</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Users</servlet-name>
        <url-pattern>/users</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubscriberSearch</servlet-name>
        <url-pattern>/subscriberSearch</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubscriberPhone</servlet-name>
        <url-pattern>/subscriberPhone</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubscriberFull</servlet-name>
        <url-pattern>/subscriberFull</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubscriberPhoneSearch</servlet-name>
        <url-pattern>/subscriberPhoneSearch</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateSubscriber</servlet-name>
        <url-pattern>/createSubscriber</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreatePhone</servlet-name>
        <url-pattern>/createPhone</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubscriberSearchEdit</servlet-name>
        <url-pattern>/subscriberSearchEdit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteSubscriber</servlet-name>
        <url-pattern>/deleteSubscriber</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditSubscriberView</servlet-name>
        <url-pattern>/editSubscriberView</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditSubscriber</servlet-name>
        <url-pattern>/editSubscriber</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateUser</servlet-name>
        <url-pattern>/createUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserSearchEdit</servlet-name>
        <url-pattern>/userSearchEdit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditUserView</servlet-name>
        <url-pattern>/editUserView</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditUser</servlet-name>
        <url-pattern>/editUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteUser</servlet-name>
        <url-pattern>/deleteUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogSearch</servlet-name>
        <url-pattern>/logSearch</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>
</web-app>
